body{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;


    background-color:rgb(90, 89, 89);
    gap: 0.2em;
    height:100%;

    padding: 0px;
    margin: 0px;


}
html{
    padding: 0px;
    margin: 0px;
}

aside{
    background-color: rgb(76, 87, 87);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    justify-content: center;

    height: 100%;
    min-height: 100%;
    width: 2em;
    max-width: 15em;

    grid-column: 1/1;
    grid-row: 1/span end;
}

header{
    text-align: center;
    justify-self: center;
    background-color: rgb(152, 209, 152);
    margin: 1em;
    border-radius: 1em;
    width: 80%;
}



#order
{
    border: 1vh lightgreen solid;
    background-color: white;

    display: grid;
    grid-template-rows: 0.5fr 50vh;
    border-radius: 1vh;

    max-height: 1fr;
    width: 14em;
}


.arrow{
    margin-top: 1em;
    width: 2em;
    height: 2em;
    transform: rotate(180deg);

    position: relative;
}

.arrow:active{
    transform: rotate(0deg);
    align-content: center;
}

.history{
    padding-top: 1em;
    padding-top: 1em;

    width: 2em;
    height: 2em;
}


#time{
    text-align: center;

    padding: 2vh;
    background-color: lightgreen;

    font-weight: bolder;
    font-size: larger;
}

#items{
    padding: 0.5vh 1vh;
    height: 1fr;
    max-height: 100%;
    overflow:scroll;
}

#itemsingle p{
    padding: 0.1vh;
    margin: 0.5vh; 
}

#itemsingle ul{
    padding-top: 0vh;
    padding-bottom: 0vh;

    margin-top: 0vh;
    margin-bottom: 3vh;
    max-height: 100%;
}

hr{
    margin: 2vh 0vh;
}


main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    margin-left: 0.2em;
    gap: 0.5em;
}

